*{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body{
    background-image: url(../img/background.jpg);
    backdrop-filter: brightness(0.2);
    padding-left: 3%;
    
}

.menu{
    padding-right: 3%;
    padding-top: 25px;
    margin-bottom: 25px;
}

    .menu img{
        width: 10.5vw;
    }
.logoMobile{
    display: none;
}
.menuFlex{
    height: 40px;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.font-size{
    font-size: 1vw;
}

.assineBtn{
    padding: 10px 17px;
    cursor: pointer;
    background-color: #e50914;
    text-decoration: none;
    font-weight:lighter !important;
    color: white !important;
    font-size: 1vw !important;
}
    .assineBtn:hover{
        background-color: #e0313a;
    }

.entrarBtn{
    padding: 9px 16px;
    cursor: pointer;
    align-items: center;
    border:1px solid #ffffff !important;
    color:#ffffff !important;
    background-color: #ff000000;
    text-decoration: none;
    font-weight: lighter !important;
    font-size: 1vw !important;
}
    .entrarBtn:visited {
        text-decoration: none;
        color: #ffffff;
    }
    .entrarBtn:hover{
        background-color: #fcfcfc15;
    }
    

.perfil{
    margin-bottom: 50px;
    background-image: url(../img/banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.titulo{
  font-size: 1em;  
  width: 38%;
  height: auto;
  padding: 7% 4%;
  background-image: linear-gradient(90deg, black, black, black,black, black,rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0));
  color: white
}
    .titulo img{
        width: 100%;
        
    }
    .titulo p{
        width: 35vw;
        font-size: 1.5vw;
        margin-top: 20px;
    }
    .titulo h1{
        font-size: 2vw;
    }
.tituloMobile{
    display: none
}

.flexBtn{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.btn{
    
    height: 6vh;
    width: 10vw;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    font-weight:700;
    font-size: 1.2vw;
}
    .btn p{
        margin-top: 0;
    }    
    .btn img{
        width: 2vw;
        
    }
    
#playBtn{
    display:flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e50914;
    text-decoration: none;
    font-size: 1.2vw;
    color: #000000;
}
    #playBtn:hover{
        background-color: #e0313a;
    }
    #playBtn:visited {
        
        color: #000000;
    }

#plusBtn{
    display:flex;
    cursor: pointer;
    align-items: center;
    border:1px solid white;
    justify-content: space-around;
    color:white;
    background-color: #ff000000;
    padding: 0px 5px;
    font-size: 1vw;
}
    #plusBtn:hover{
        background-color: #fcfcfc15;
    }
.text-color{
    color: #949494
}

.figure-group{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}
    .figure-group img{
        width: 19%;
        filter: brightness(70%);
        border-bottom: -100px solid black;
        transition: 1s;
    }
        .figure-group img:hover{
            cursor: pointer;
            filter: brightness(100%);
        }

.footer{
    text-align: center;
    margin-top: 100px;
    font-size: 1vw;
    padding-bottom: 20px;
}

@media (max-width: 768px){
   span{
       display: none;
   } 
   .menu{
        margin-bottom: 10px;
        padding-top: 10px;
   }

   .flexBtn{
       width: 72%;
   }
   #plusBtn, #playBtn{
       width: 13vw;
       height: 30px;
       font-size: 1.4vw;
   }
   .entrarBtn, .assineBtn{
       font-size: 1.5vw !important;
   }
   .footer{
        font-size: 10px;
   }
}

@media (max-width: 425px){
    body{
        background-image: none;
        backdrop-filter: none;
        background-color: rgba(23,23,22);
    }
    .menu{
        padding-right: 0;
        padding-top: 10px;
        margin-bottom: 10px;
        
    }
        .menu img{
           display: none;

        }
    .logoMobile{
        display: inline !important;
        width: 50px !important;
    }
    .entrarBtn, .assineBtn{
        
        font-size: 12px !important;
        margin-right: 9px;
    }
    .perfil{
        height: auto !important;
    }
    .perfil{
      height: 240px !important;
      margin-bottom: -100px;
      background-image: url(../img/banner.png);
      background-size: 100%;
      background-repeat: no-repeat;
      
  }
    .tituloMobile{
        display: flex;
        flex-direction: column;
        font-size: 1em;  
        width: 100%;
        height: auto;
        padding-top: 13%;
        padding-left: 3%;
        background-image: linear-gradient(0deg, rgba(23,23,22,1), rgba(23,23,22,1), rgba(23,23,22,1),rgba(23, 23, 23, 1), rgba(23,23,23, 1),rgba(23,23,23, 1),  rgba(23,23,23, 1),  rgba(23,23,23, 1),  rgba(0,0,0, 0));
        color: white
      }
          .tituloMobile img{
              width: 85%;
              
          }
          .tituloMobile p{
              width: 93%;
              font-size: 5vw;
              margin-top: 20px;
          }
          .tituloMobile h1{
              font-size: 5vw;
          }
      .titulo{
          display: none;
      }
      .flexBtn{
        width: 95%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center
    }
    #plusBtn, #playBtn{
        justify-content: space-evenly;
        width: 100%;
        height: 7vh;
        font-size: 5vw;
    }
        #plusBtn img{
            width: 8.5%;
            margin-left: 3%;
        }
        #playBtn img{
            width: 8.5%;
        }

    .entrarBtn, .assineBtn{
        font-size: 1.5vw !important;
    }

    .marginMobile{
        margin-top: 50px;
    }

    .figure-group{
        flex-direction: column;
        align-items: center;
    }
        .figure-group img{
            width: 90%;
            margin-top: 10px;
        }
}
/*https://tecnoblog.net/wp-content/uploads/2015/08/netflix-home.png*/